<!--
 - addCategoryModal
 -
 - an html partial that builds an add category modal
 -
 - @depends jQuery
 - @depends ServerProxy serverProxy
 - @depends function syncCategories
-->

<div id="addCategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Add a New Category</h2>
            </div>
            <div class="modal-body">
                <fieldset class="form-group">
                    <label for="addCategoryName">Category name</label>
                    <input class="form-control" type="text" id="addCategoryName">
                </fieldset>
            </div>
            <div class="modal-footer">
                <button id="addCategorySubmitButton" class="btn btn-primary pull-left" type="button">
                    Add Category
                </button>
                <button id="addCategoryCancelButton" class="btn btn-standard pull-right" type="button">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

$(document).ready(function() {

    $("#addCategorySubmitButton").click(function () {
        var category = {
            'categoryName': $("#addCategoryName").val()
        };

        serverProxy.insertCategory(category,
            function (data, status) {
                console.log("AJAX success for insertCategory", data, status);
                if (data['success']) {
                    resetAddCategoryModal();
                    syncCategories();
                }
                else {
                    alert("Unable to add category");
                    // TODO use bootstrap alerts
                }
            },
            function (jqXHR, textStatus, errorThrown) {
                console.log("Error inserting category", textStatus, errorThrown);
            }
        );
    });

    // when the cancel button is clicked, clear and close the form
    $("#addCategoryCancelButton").click(function() {
        resetAddCategoryModal();
    });

    // clear and close the form
    function resetAddCategoryModal() {
        $("#addCategoryModal").modal('hide');
        $("#addCategoryName").val("");
    }
});

</script>