<!--
 - addItemModal
 -
 - an html partial that builds an add item modal
 -
 - @depends jQuery
 - @depends ServerProxy serverProxy
 - @depends array items
 - @depends function populateItemsList
-->

<div id="addItemModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add a New Item</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="addItemName">Item name</label>
                    <input class="form-control" type='text' id='addItemName'>

                    <label for="addItemSelectCategory">Category</label>
                    <select class="form-control" id="addItemSelectCategory" name='categoryId'></select>
                </div>
                <div class="form-group">
                    <input id="addItemSubmitButton" class="btn btn-primary" type='submit' name='button' data-dismiss="modal">
                    <button class="btn btn-standard pull-right" type="button" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#addItemSubmitButton").click(function() {
            var item = {
                'itemName': $("#addItemName").val(),
                'categoryRef': $("#addItemSelectCategory").val()
            };

            serverProxy.insertItem(item,
                function(data, status) {
                    console.debug("AJAX success for insertItem", data, status);
                    syncItems();
                },
                function(jqXHR, textStatus, errorThrown) {
                    console.log("Error inserting item", textStatus, errorThrown);
                }
            );
        });
    });

    function syncItems() {
        serverProxy.getItems(
            function(data, status) {
                console.debug("AJAX success for syncItems", data, status);
                items = data;
                populateItemsList();
            },
            function(jqXHR, textStatus, errorThrown) {
                console.log("Error syncing database", textStatus, errorThrown);
            }
        );
    }
</script>