<!--
 - addItem
 -
 - a form for adding an item to the data
 -
 - @depends jQuery
 - @depends ServerProxy
-->

<p><b>Add a new item:</b></p>
<form id="addItemForm">

    <label>Item name:</label><input type='text' name='itemName' required><p></p>
    <label>Category:</label><select id="selectCategory" name='categoryId' required></select>

    <p></p><input type='submit' name='submit'>
</form>

<script type="text/javascript">

    var serverProxy = new ServerProxy();
    serverProxy.getCategories(
        function(data, status) {
            console.debug("AJAX callback to get categories", data, status);
            var categoryOption = null;
            data.forEach(function(category) {
                console.debug(category);
                categoryOption = $(document.createElement('option'));
                categoryOption.val(category.id);
                categoryOption.attr("name", category.name);
                categoryOption.html(category.name);
                $("#selectCategory").append(categoryOption);
            })
        },
        function(jqXHR, textStatus, errorThrown) {
            console.log("Error getting a list of categories", textStatus, errorThrown);
        }
    );

</script>