<!--
 - addOrganizationModal
 -
 - an html partial that builds an add organization modal
 -
 - @depends jQuery
 - @depends ServerProxy serverProxy
 - @depends function syncOrganizations
-->

<div id="addOrganizationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Add a New Organization</h2>
            </div>
            <div class="modal-body">
                <fieldset class="form-group">
                    <label for="addOrganizationName">Organization Name</label>
                    <input class="form-control" type="text" id="addOrganizationName">
                </fieldset>
                <fieldset class="form-group">
                    <label for="addOrganizationPhoneNumber">Phone Number</label>
                    <input class="form-control" type="text" id="addOrganizationPhoneNumber">
                </fieldset>
                <fieldset class="form-group">
                    <label for="addOrganizationWebsiteUrl">Website URL</label>
                    <input class="form-control" type="text" id="addOrganizationWebsiteUrl">
                </fieldset>
                <fieldset class="form-group">
                    <label for="addOrganizationPhysicalAddress">Physical Address</label>
                    <input class="form-control" type="text" id="addOrganizationPhysicalAddress">
                </fieldset>
                <fieldset class="form-group">
                    <legend>Items Reused</legend>
                    <ul id="addOrganizationReuseItemsList" class="list-group"></ul>
                </fieldset>
                <fieldset class="form-group">
                    <legend>Items Repaired</legend>
                    <ul id="addOrganizationRepairItemsList" class="list-group"></ul>
                </fieldset>
                <fieldset class="form-group">
                    <label for="addOrganizationSelectItem">Select Item</label>
                    <select id="addOrganizationSelectItem" class="form-control"></select>
                </fieldset>
                <fieldset class="form-group">
                    <button id="addOrganizationAddReuseItem" class="btn btn-info">Reuse Item</button>
                    <button id="addOrganizationAddRepairItem" class="btn btn-info">Repair Item</button>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button id="addOrganizationSubmitButton" class="btn btn-primary pull-left" type="button">
                    Add Organization
                </button>
                <button id="addOrganizationCancelButton" class="btn btn-standard pull-right" type="button">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

$(document).ready(function() {

    var addOrganizationReuseItems = []; // A list of items that this organization reuses
    var addOrganizationRepairItems = []; // A list of items that this organization repairs

    // On clicking the button to open this modal, set up a selector with all the item options
    $("#addOrganizationButton").click(function() {
        console.log("Detecting click of the add organization button");

        items.forEach(function(item) {

            var itemOption = $(document.createElement('option'));
            itemOption.val(item['id']);
            itemOption.html(item['name']);
            $("#addOrganizationSelectItem").append(itemOption);
        });
    });

    // Set up a list of all items that the new organization is to reuse
    function populateAddOrganizationReuseItemsList() {
        console.log("entering populateAddOrganizationReuseItemList");

        var itemsList = $("#addOrganizationReuseItemsList");
        itemsList.empty();
        addOrganizationReuseItems.forEach(function(item) {

            var listItem = $(document.createElement('li'));
            listItem.addClass("list-group-item");
            listItem.val(item.id);
            listItem.html(item.name);
            itemsList.append(listItem);
        });
    }

    // Set up a list of all items that the new organization is to repair
    function populateAddOrganizationRepairItemsList() {

        // Set up a list of all items that the organization repairs
        var itemsList = $("#addOrganizationRepairItemsList");
        itemsList.empty();
        addOrganizationRepairItems.forEach(function(item) {

            var listItem = $(document.createElement('li'));
            listItem.addClass("list-group-item");
            listItem.val(item.id);
            listItem.html(item.name);
            itemsList.append(listItem);
        });
    }

    // When the Reuse Item button is pressed, add the selected item to the list and refresh the list data on the form
    $("#addOrganizationAddReuseItem").click(function() {

        var itemId = $("#addOrganizationSelectItem").val();
        var item = $.grep(items, function(_item) {
            return _item['id'] == itemId;
        })[0];

        if ($.inArray(item, addOrganizationReuseItems, 0) == -1) {
            addOrganizationReuseItems.push(item);
        }
        populateAddOrganizationReuseItemsList();
    });

    // When the Repair Item button is pressed, add the selected item to the list and refresh the list data on the form
    $("#addOrganizationAddRepairItem").click(function() {

        var itemId = $("#addOrganizationSelectItem").val();
        var item = $.grep(items, function(_item) {
            return _item['id'] == itemId;
        })[0];

        if ($.inArray(item, addOrganizationRepairItems, 0) == -1) {
            addOrganizationRepairItems.push(item);
        }
        populateAddOrganizationRepairItemsList();
    });

    // When clicking on a reuse list item, remove it from the list of items to be reused by the new organization
    $("#addOrganizationReuseItemsList").on('click', 'li', function() {

        var itemId = this.value;

        var item = $.grep(addOrganizationReuseItems, function(_item) {
            return _item['id'] == itemId;
        })[0];

        var arrayIndex = $.inArray(item, addOrganizationReuseItems, 0);

        addOrganizationReuseItems.splice(arrayIndex, 1);

        populateAddOrganizationReuseItemsList();
    });

    // When clicking on a repair list item, remove it from the list of items to be repaired by the new organization
    $("#addOrganizationRepairItemsList").on('click', 'li', function() {

        var itemId = this.value;

        var item = $.grep(addOrganizationRepairItems, function(_item) {
            return _item['id']== itemId;
        })[0];

        var arrayIndex = $.inArray(item, addOrganizationRepairItems, 0);

        addOrganizationRepairItems.splice(arrayIndex, 1);

        populateAddOrganizationRepairItemsList();
    });

    // When the submit form button is pressed, use ajax to persist the new organization and refresh the client data
    $("#addOrganizationSubmitButton").click(function() {

        // Get the reuse item relationships as an array of relationships
        var reuseItemRelationships = [];
        addOrganizationReuseItems.forEach(function(item) {
            reuseItemRelationships.push({
                'itemId': item['id']
            });
        });

        // Get the repair item relationships as an array of relationships
        var repairItemRelationships = [];
        addOrganizationRepairItems.forEach(function(item) {
            repairItemRelationships.push({
                'itemId': item['id'],
                'additionalRepairInfo': item['additionalRepairInfo']
            });
        });

        // compound the data model
        var organization = {
            'organizationName': $("#addOrganizationName").val(),
            'phoneNumber': $("#addOrganizationPhoneNumber").val(),
            'websiteUrl': $("#addOrganizationWebsiteUrl").val(),
            'physicalAddress': $("#addOrganizationPhysicalAddress").val(),
            'reuseItemRelationships': reuseItemRelationships,
            'repairItemRelationships': repairItemRelationships
        };

        // Make AJAX request
        serverProxy.insertOrganization(organization,
            function(data, status) {
                console.log("AJAX success for insertOrganization", data, status);
                if (data['success']) {
                    resetAddOrganizationModal();
                    syncDatabase();
                }
                else {
                    alert("Unable to add the organization");
                    // TODO use bootstrap alerts
                }
            },
            function(jqXHR, textStatus, errorThrown) {
                console.log("Error inserting organization", textStatus, errorThrown);
            }
        );
    });

    // The cancel button clears and closes the form
    $("#addOrganizationCancelButton").click(function() {
        resetAddOrganizationModal();
    });

    // clear and close the form
    function resetAddOrganizationModal() {
        $("#addOrganizationModal").modal('hide');
        addOrganizationReuseItems = [];
        addOrganizationRepairItems = [];
        $("#addOrganizationReuseItemsList").empty();
        $("#addOrganizationRepairItemsList").empty();
    }
});

</script>