<!--
 - editCategoryModal
 -
 - an html partial that builds an edit category modal
 -
 - @depends jQuery
 - @depends ServerProxy serverProxy
 - @depends function syncCategories
-->

<div id="editCategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Category</h4>
            </div>
            <div class="modal-body">
                <input class="hidden" type="number" id="editCategoryId">
                <div class="form-group">
                    <label for="editCategoryName">Category name</label>
                    <input class="form-control" type="text" id="editCategoryName">
                </div>
                <div class="form-group">
                    <button id="editCategorySubmitButton" class="btn btn-primary" type="button" data-dismiss="modal">
                        Submit Changes
                    </button>
                    <button class="btn btn-standard pull-right" type="button" data-dismiss="modal">
                        Reset
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        console.debug("Calling document ready in editCategoryModal");

        $("#editCategorySubmitButton").click(function() {
            var category = {
                'categoryId': $("#editCategoryId").val(),
                'categoryName': $("#editCategoryName").val()
            };

            serverProxy.updateCategory(category,
                function(data, status) {
                    console.debug("AJAX success for updateCategory", data, status);
                    syncCategories();
                },
                function(jqXHR, textStatus, errorThrown) {
                    console.log("Error updating category", textStatus, errorThrown);
                }
            );
        });
    });
</script>