<!--
 - editCategoryModal
 -
 - an html partial that builds an edit category modal
 -
 - @depends jQuery
 - @depends ServerProxy serverProxy
 - @depends function syncCategories
-->

<div id="editCategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Edit Category</h2>
            </div>
            <div class="modal-body">
                <label class="sr-only">Id<input class="hidden" type="number" id="editCategoryId"></label>
                <fieldset class="form-group">
                    <label for="editCategoryName">Category name</label>
                    <input class="form-control" type="text" id="editCategoryName">
                </fieldset>
            </div>
            <div class="modal-footer">
                <button id="editCategorySubmitButton" class="btn btn-primary pull-left" type="button">
                    Submit
                </button>
                <button id="editCategoryCancelButton" class="btn btn-standard pull-right" type="button">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

$(document).ready(function() {
    console.log("Calling document ready in editCategoryModal");

    // when the submit button is clicked, use AJAX to update the remote server and then sync category data
    $("#editCategorySubmitButton").click(function() {
        var category = {
            'categoryId': $("#editCategoryId").val(),
            'categoryName': $("#editCategoryName").val()
        };

        serverProxy.updateCategory(category,
            function(data, status) {
                console.log("AJAX success for updateCategory", data, status);
                if (data['success']) {
                    resetEditCategoryModal();
                    syncCategories();
                }
                else {
                    alert("Unable to edit the category");
                    // TODO use bootstrap alerts
                }
            },
            function(jqXHR, textStatus, errorThrown) {
                console.log("Error updating category", textStatus, errorThrown);
            }
        );
    });

    // When the cancel button is clicked, clear and close the form
    $("#editCategoryCancelButton").click(function() {
        resetEditCategoryModal();
    });

    // clear and close the form
    function resetEditCategoryModal() {
        console.log("entering resetEditCategoryModal");

        $("#editCategoryModal").modal('hide');
        $("#editItemId").val("");
        $("#editItemName").val("");
    }
});

</script>